.button {
    display: inline-block;
    background-color: rgb(3, 156, 232);
    box-shadow: 5px 5px 0px black;
    padding-top: 18px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 20px;
    margin-right: 0;



}

.button:hover {
    background-color: rgb(13, 156, 232);
    transform: scale(0.8);
}