/* .title2 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    text-shadow: 4px 4px 0 #000;
    color: #fff;
    margin-bottom: 28px 0;
    text-align: center;


}

.teste {

    background-color: #000c14;
    border-bottom: 10px solid #000;
}

.teste .imagens {
    display: flex;
    flex-direction: column;

}

.teste .imagens img {
    width: 80px;
    height: 90px;
}

.lateral {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */